html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
.sclist-wrap{
	padding: 5px 4px;
	background: #fff;
}
.sclist{
	box-sizing:border-box;
	padding: 5px 4px;
	border-bottom: 1px solid #E1E1E1;
	margin-bottom: 5px;
	position: relative;
}
.sclist a{
	display: block;
	width: 100%;
	height: 100%;
}
.sclist .pimg{
	width: 27%;
	height: auto;
}
.sclist img{
	width: 100%;
	height: auto;
	display: block;
}
.sclist .pinfo{
	padding-left: 8px;
	width: 72%;
}
.sclist .pinfo h3{
	font-size: 12px;
	color: #333;
}
.sclist .pinfo .pprice{
	font-size: 10px;
	color: #FF6600;
	margin-top: 3px;
}
.sclist .pinfo .pprice span{
	font-size: 8px;
	color: #8F8F8F;
}
.sclist .pinfo .ptime{
    position: absolute;
	left: 29%;
	bottom: 5px; 
	width: 66%;
	font-size: 8px;
	color: #8F8F8F;
	padding-left: 12px;
	background:url(../images/time.jpg) 0 1px no-repeat;
	background-size: 9px 9px;
}
.sclist .pinfo .ptime span:nth-child(2){
	position: absolute;
	right: 0;
	bottom: 0;
	padding-left: 12px;
	background: url(../images/charge1.png) 0 0 no-repeat;
	background-size: 9px 10px;
}
.sclist .pinfo .ptime span:nth-child(3){
	position: absolute;
	right: 44px;
	bottom: 0;
	padding-left: 12px;
	background: url(../images/zan1.png) 0 0 no-repeat;
	background-size: 9px 10px;
}
.edusearch{
	width: 100%;
	height: 43px;
	background: #F6F6F6;
	overflow: hidden;
}
.edusearch input{
	display: block;
	width: 87%;
	height: 28px;
	padding-left: 7%;
	margin: 7px auto;
	border: 1px solid #CCC;
	border-radius: 4px;
	background: url(../images/edulists.png) 6px 7px no-repeat;
	background-size: 13px 13px;
	background-color: #fff;
	font-size: 1.4rem;
	color: #b3b3b3;
}