html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
    background: #fff;
}
.head-icon1{
    width: 9px;
    height:16px;
    background: url("../images/history1.png") 0 0 no-repeat;
    background-size: 9px 16px;
    position: absolute;
    left: 14px;
    top:50%;
    margin-top: -8px;
}
.page{
    width: 100%;
    padding: 6px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    border-top: 45px solid transparent;
    background: #fff;
}
.page h2{
    width: 100%;
    height: 32px;
    line-height: 32px;
    font-size: 1.5rem;
    color: #333;
}
.page h4{
    width: 100%;
    height: 8px;
    line-height: 8px;
    font-size: 0.8rem;
    color: #9a9a9a;
    margin-bottom: 11px;
}
.newspic{
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 14px;
}
.mainBody{
    width: 100%;
    padding: 0px 10px 0 5px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    font-size: 1.2rem;
    color: #333;
    line-height: 18px;
    margin-bottom: 11px;
}
.comment{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 34px;
    padding-top: 10px;
    background: #F5F5F5;
}
.comment input{
    width: 54%;
    height: 22px;
    padding-left: 8%; 
    margin-left: 3%;
    line-height: 22px;
    font-size: 0.8rem;
    color: #d2d2d2;
    background: url(../images/comment.png) 9px 4px no-repeat;
    background-size: 15px 14px;
    background-color: #fff;
    border: 1px solid #DADADA;
    border-radius: 11px;
}
.comment var{
    position: absolute;
    right: 12.5%;
    top: 10px;
    width: 24px;
    height: 24px;
    background: url(../images/surname.jpg) 0 0 no-repeat;
    background-size: 24px 24px;
}
.comment var:nth-child(2){
    right: 3%;
    background: url(../images/collection.jpg) 0 0 no-repeat;
    background-size: 24px 24px;
}