html,body{
    width: 100%;
    height: 100%;
    font-size: 62.5%;
}
.head-icon1{
    width: 20px;
    height:15px;
    background: url("../images/titbackg.png") 0 0 no-repeat;
    background-size: 20px 15px;
    position: absolute;
    left: 14px;
    top:50%;
    margin-top: -8px;
}
.head-text{
    position: absolute;
    right:12px;
    top:15px;
    width: 16px;
    height: 17px;
    background: url(../images/partsearch.png) 0 0 no-repeat;
    background-size: 16px 17px;
}
.page{
    border-top: 45px solid transparent;
}
.ui-slider ul li{
    position: relative;
}
.ui-slider ul li p{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 8px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    height: 25px;
    line-height: 25px;
    background: rgba(0,0,0,0.4);
    color: #fff;
    font-size: 1.5rem;
}
/*头条页大图滚动*/
/*头条新闻列表*/
.headlines{
    width: 100%;
}
.headlinesInn{
    width: 97%;
    margin-left: 1%;
    padding: 8px 0 8px 4px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid #DEDEDE;
}
.headlinesInn img{
    float: left;
    display: block;
    width: 28%;
    height: auto;
    margin-right: 6px;
}
.headlinesInn h3{
    float: left;
    width: 70%;
    height: 14px;
    font-size: 1.2rem;
    line-height: 14px;
     color: #333;
     margin-bottom: 2px;
}
.headlinesInn p{
    float: left;
    width: 70%;
    font-size: 0.8rem;
    color: #9a9a9a;
    line-height: 13px;
}
.follow{
    position: absolute;
    right: 0;
    bottom: 8px;
    width: 70%;
}
.follow span:nth-child(2){
    position: absolute;
    left: 140px;
    top: 0;
    padding-left: 12px;
    background: url(../images/zan1.png) 0 0 no-repeat;
    background-size: 9px 9px;
}
.follow span:nth-child(3){
    position: absolute;
    left: 182px;
    top: 0;
    padding-left: 12px;
    background: url(../images/charge1.png) 0 0 no-repeat;
    background-size: 9px 9px;
}
/*侧滑*/
body{
    overflow-x: hidden; -webkit-overflow-scrolling: touch; 
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;

}
body.active{
    transform: translate3d(90%,0,0);
    -webkit-transform: translate3d(90%,0,0);
    -moz-transform: translate3d(90%,0,0);
    -ms-transform: translate3d(90%,0,0);
    -o-transform: translate3d(90%,0,0);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.slide-bar{
    position: absolute;
    top: 0px;
    bottom: 0px;
    width: 90%;
    left: 0;
    z-index: 2;
    background-color: #F1F1F1;
    overflow: hidden;
    transform: translate3d(-100%,0,0);
    -webkit-transform: translate3d(-100%,0,0);
    -moz-transform: translate3d(-100%,0,0);
    -ms-transform: translate3d(-100%,0,0);
    -o-transform: translate3d(-100%,0,0);
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
}
.sidetx{
    position: relative;
    margin-bottom: 7px;
    border-top: 45px solid transparent;
}
.sidetx img{
    width: 100%;
    height: auto;
    display: block;
}
.sidetx  div{
    height: 58px;
    position: absolute;
    left: 12px;
    top: 50%;
    margin-top: -29px;
}
.sidetx  div a{
    display: block;
    line-height: 58px;
    color: #fff;
    height: 100%;
    padding-left: 73px;
    background:url(../img/tx-nv.png) 0 0 no-repeat;
    background-size: auto 100%;
    font-size: 15px;
}

.link .demo-block div{
    margin-bottom: 2px;
    background-color: #fff;
    padding-left: 24px;
}
.link a{
    display: block;
    width: 80%;
    line-height: 50px;
    font-size: 15px;
    color: #333;
    padding-left: 45px;
   
}
.link .ui-arrowlink:nth-child(1) a{
    background: url(../img/xyxw.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
.link .ui-arrowlink:nth-child(2) a{
    background: url(../img/jypx.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
.link .ui-arrowlink:nth-child(3) a{
    background: url(../img/wqz.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
.link .ui-arrowlink:nth-child(4) a{
    background: url(../img/tssc.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
.link .ui-arrowlink:nth-child(5) a{
    background: url(../img/jzb.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
.link .ui-arrowlink:nth-child(6){
    margin-top: 10px;
}
.link .ui-arrowlink:nth-child(6) a{
    background: url(../img/jzb.jpg) 0 9px no-repeat;
    background-size: auto 30px;
}
